<div class="contact-page">

  <div class="contact-img">
    <img src="http://res.cloudinary.com/djdcx8hbj/image/upload/v1489588530/logo_acasic.jpg" alt="">
  </div>

  <h1> Contact formulier</h1>

  <div class="contact-form">
    <%= form_for @contact do |f| %>

      <%= f.label :naam %><br>
      <%= f.text_field :name, required: true %>

      <br>

      <%= f.label :email %><br>
      <%= f.text_field :email, required: true %>

      <br>

      <%= f.label 'Uw bericht' %><br>
      <%= f.text_area :message, required: true %>

      <br>

      <div class="button">
        <%= f.submit 'verstuur', class: "button" %>
      </div>

    <% end %>

  </div>

</div>
